{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <h1>Sell Stocks</h1>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>#</th>
                <th>Avg Cost</th>
                <th>Cost Basis</th>
                <th>Share Price</th>
                <th>Total Value</th>
                <th>P/L</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>${{'%0.2f' % stock.avg_price }}</td>
                    <td>${{'%0.2f' % stock.total_cost }}</td>
                    <td>${{'%0.2f' % stock.share_price }}</td>
                    <td>${{'%0.2f' % stock.total_value }}</td>
                    <td>${{'%0.2f' % stock.profit_loss }}</td>
                    <td>
                        <form action="/sell" method="post">
                            <input type="hidden" id="symbol" name="symbol" value ={{ stock.symbol }}>
                            <input type="number" class="form-control mx-auto w-auto" id="shares" name="shares" autocomplete="off" value="0">
                            <button class="btn btn-primary" type="submit">Sell Now</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
